.idea
venv

scripts/build/build
scripts/build/dist

patches
projects
projects_detection
runs
data
logs
classification
detection

build/*
dist/*
datasets/*

*.db
*.pt
*.log
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tif
*.tiff
