Kivy~=2.1.0
kivymd~=0.104.2
numpy~=1.26.4
pycryptodomex~=3.14.1
opencv-python~=4.7.0.72
tensorflow~=2.18.0
checksumdir~=1.2.0
ultralytics~=8.3.58
torch~=2.5.1
torchvision~=0.20.1
labelImg~=1.8.6
scikit-learn~=1.2.2
pre_commit~=4.0.1
